<% if object.errors.any? %>
  <div class="bg-red-100 border border-red-300 text-red-700 p-3 rounded mb-4">
    <p class="font-semibold">
      入力内容に <%= object.errors.count %> 件のエラーがあります
    </p>
    <ul class="list-disc list-inside">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
